h1 h2 h3 h3 h5 {
  color: black;
  font-family: "playfair display";
}
h1 {
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-weight: normal;
  font-size: 24px;
}
.hero {
  background: #f9f7fe;
  text-align: center;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: "poppins";
}
